@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tooltip-bg: #ffffff;
}
.dark {
  --tooltip-bg: #1f2937;
}

body {
  @apply bg-gray-50 text-gray-900 dark:bg-gray-950 dark:text-gray-100;
}
